Repository Lambda-School-Labs/labs9-map-scratcher, pull requests merged in 2019-01, with the labels that each got.

#3 Delete npm lockfile, sticking with yarn
  frontend/package-lock.json
Labels: invalid

#15 Fix comma error, remove similar script
  .gitignore
  backend/package.json
  frontend/package.json
  frontend/yarn.lock
Labels: bug

#29 Fixed map component visibility
  frontend/components/Map/Map.js
  frontend/pages/map.js
Labels: Frontend, bug

#46 User Friends Resolver
  backend/prisma/datamodel.prisma
  backend/prisma/generated/prisma-client/index.d.ts
  backend/prisma/generated/prisma-client/prisma-schema.js
  backend/prisma/seeds/countrySeed.graphql
  backend/resolvers/Mutation.js
  backend/resolvers/User.js
  backend/schema.graphql
Labels: Backend

#45 Map Color Render
  frontend/components/Map/Map.js
Labels: Frontend, New Feature

#44 Add Passport to yoga server & update Twitter button with <a> tag
  .gitignore
  backend/config/keys.js
  backend/config/prod.js
  backend/index.js
  backend/package.json
  backend/services/passport/middleware.js
  backend/services/passport/passport.js
  backend/services/passport/routes.js
  backend/yarn.lock
  frontend/components/Login/Login.js
Labels: Backend, Frontend, New Feature

#47 Prisma server update for passport.js - oauth MVP
  backend/prisma/datamodel.prisma
  backend/prisma/generated/prisma-client/index.d.ts
  backend/prisma/generated/prisma-client/prisma-schema.js
  backend/services/passport/passport.js
Labels: Backend

#51 Add semantic-ui-react spinner with dimming effect
  frontend/pages/map.js
Labels: Frontend, New Feature

#53 Update PULL_REQUEST_TEMPLATE.md to include a link for Trello cards
  PULL_REQUEST_TEMPLATE.md
Labels: DevOps

#54 Update profile.displayName to profile.username in Twitter Passport Strategy
  backend/services/passport/passport.js
Labels: Backend

#65 Update settings form and styling
  frontend/components/Settings/settings.js
  frontend/components/Settings/settings.less
  frontend/pages/settings.js
Labels: Frontend

#67 Fix import for settings component [1]
  frontend/pages/settings.js
Labels: Frontend, bug

#79 Cors + extract current_user
  backend/index.js
  backend/package.json
  backend/services/middleware.js
  backend/yarn.lock
  frontend/package.json
  frontend/pages/_app.js
  frontend/services/Authentication/CurrentUser.js
  frontend/services/createApolloClient.js
  frontend/yarn.lock
Labels: Backend, Frontend

#131 Implement getInitialProps for profile page
  backend/services/passport/passport.js
  backend/services/passport/routes.js
  frontend/package.json
  frontend/pages/_app.js
  frontend/pages/profile.js
  frontend/pages/travels.js
  frontend/services/Authentication/CurrentUser.js
  frontend/yarn.lock
Labels: Backend, Frontend
